/* ------------------------------------------------------------------
   ------------------Ajustes globales del proyecto-------------------
   ------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li.nav-item>a {
    color: white !important;
    width: fit-content;
    padding: .5rem;
    margin: .5rem 1rem;
    font-weight: bolder;
    background-color: rgb(145, 0, 170);
    border-radius: 1rem;
    transition-duration: 0.4s !important;
}

li.nav-item>a:hover {
    background-color: rgba(46, 0, 87, 0.609) !important;
    color: rgb(238, 0, 255) !important;
}

li.nav-item>a[href="#"] {
    margin-top: .5rem;
    color: blueviolet !important;
    font-weight: bolder;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.293);
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 1rem;
}

nav#navbar-general {
    padding: 0;
}

button#toggler-navbar {
    color: purple;
    background: rgba(255, 255, 255, 0.659);
}

/* ------------------------------------------------------------------
   ----------------------------index.html----------------------------
   ------------------------------------------------------------------ */

img#logo-amazing-events {
    width: 15rem;
    height: 4rem;
}

div#navbar-background {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 63, 221, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

@media only screen and (max-width: 374px) {
    img#logo-amazing-events {
        width: 14rem;
        height: 4rem;
    }
}

main#main-home {
    background: rgb(0, 119, 143);
    background: linear-gradient(180deg, rgba(0, 119, 143, 1) 0%, rgba(0, 119, 143, 1) 75%, rgba(0, 0, 0, 1) 100%);
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.carrusel {
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.carrusel .text-carousel-buttons {
    text-decoration: none;
    color: #fff;
}

.carrusel h1 {
    padding-top: 2rem;
    text-align: center;
    color: white;
}

.carrusel p {
    text-align: center;
    color: white;
}

div#categories-and-search-container {
    padding-top: 5rem;
}

div#category-form {
    padding: .5rem 0 4rem 0;
}

div#category-form>label {
    margin-left: 2rem;
}

form[role="search"]>input {
    font-weight: 100;
    margin-left: 3rem;
}

div.card {
    width: 18rem;
    min-height: 53vh;
    color: white;
    background: rgb(0,32,143);
    background: linear-gradient(0deg, rgba(0,32,143,1) 0%, rgba(89,0,143,1) 80%);
}

div.card>img.card-img-top {
    height: 17vh;
}

div.card-body {
    flex-direction: column;
    justify-content: space-evenly;
}

div.card>div.card-body>a.btn {
    justify-self: flex-end;
}

div.card>div.card-body>.card-title {
    margin: 1rem 0;
}

div.card>div.card-body>.card-text {
    margin: 1rem 0;
}

h2#text-no-matches {
    color: white;
    margin-bottom: 2rem;
}

footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(233, 63, 221, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

footer>div#icons {
    width: fit-content;
    margin-left: 10rem;
}

footer>div#icons>svg {
    margin: 1rem 1rem;
    width: 2rem;
    height: 2rem;
}

footer>div#cohort {
    color: white;
    font-weight: bolder;
    margin: 1rem 0;
    width: fit-content;
    margin-right: 10rem;
    background-color: rgba(118, 0, 161, 0.267);
    padding: .5rem;
    border-radius: 1rem;
    transition-duration: 0.4s;
}

footer>div#cohort:hover {
    background-color: rgba(233, 63, 221, 1);
    color: black;
}

@media only screen and (max-width: 651px) {
    footer>div#cohort {
        height: fit-content;
        width: fit-content;
        margin: 9% 2rem 0 0;
    }

    footer>div#icons {
        margin: 3rem;
    }

    .carrusel {
        max-height: fit-content;
    }

    .carrusel .text-carousel-buttons {
        display: none;
    }

    .carrusel p {
        text-align: center;
        font-size: 1.1rem;
        margin-left: 4.2rem;
        width: 60%;
    }

    form[role="search"]>input {
        justify-self: center;
        width: 15rem;
        font-size: .96rem;
        margin-left: 2rem;
    }
}

/* ------------------------------------------------------------------
-----------------------upcoming_events.html-----------------------
------------------------------------------------------------------ */



/* ------------------------------------------------------------------
--------------------------past_events.html------------------------
------------------------------------------------------------------ */



/* ------------------------------------------------------------------
----------------------------stats.html----------------------------
------------------------------------------------------------------ */

div#div-table>h1 {
    padding-top: 6rem;
    text-align: center;
}

table#table-stats {
    margin: 2rem 6rem;
    background-color: rgb(222, 222, 222);
}

table#table-stats th {
    padding: .5rem;
}

table#table-stats tr,
table#table-stats td {
    outline: 1px solid black;
    padding: .5rem;
}

/* ----------------------------------------------------------------
----------------------------contact.html--------------------------
------------------------------------------------------------------ */

div#contact-us-form {
    width: 50vw;
    margin: 3rem;
    padding: 3rem;
    background-color: rgba(128, 128, 128, 0.653);
    border-radius: 2rem;
}

div#contact-us-form>h1 {
    width: 100%;
    margin-bottom: 2rem;
}

div#contact-us-form label {
    color: rgba(255, 255, 255, 0.724);
}

div#contact-us-form input {
    width: 100%;
}

div#contact-us-form input#submit {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    border: 2px solid black;
}

div#contact-us-form input#submit:hover {
    background-color: green;
    color: white;
}

/* ------------------------------------------------------------------
----------------------------details.html--------------------------
------------------------------------------------------------------ */

div#container-details {
    padding-top: 2rem !important;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

div#card-details {
    width: 100%;
}

div#card-details>img#card-img-top-details {
    min-height: 25vh;
}

div.card-body>p.card-text-details {
    font-size: larger;
}

div.item-details {
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
    outline: 2px solid black;
    width: 30vw;
    box-shadow: -.5rem .5rem rgba(0, 0, 0, 0.2);
}

div#image-details {
    width: 50%;
}

div#image-details>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#text-details {
    padding: 1.5rem
}